<section>
  <form [formGroup]="form" (submit)="calcular()">
    <div>
      <label for="">Valor</label>
      <input type="text" formControlName="valor">
    </div>

    <div>
      <label for="">Pró labore</label>
      <input type="text" formControlName="pro_labore" readonly>
    </div>

    <div>
      <label for="">INSS</label>
      <input type="text" formControlName="inss" readonly>
    </div>

    <div>
      <label for="">Primeira Transferência</label>
      <input type="text" formControlName="primeira_transferencia" readonly>
    </div>

    <button type="submit">Calcular</button>
  </form>
</section>
